@media only screen and (max-width: 510px) {

    .subFooterElement {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lds-ripple {
        left: 42%;
    }
}

@media only screen and (max-width: 992px) {

    .navLinks:hover {
        cursor: pointer;
    }
}

@media only screen and (min-height: 1550px) {

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}